@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  font-family: "Nunito";
}

.dragen::-webkit-scrollbar {
  cursor: pointer;
  width: 7px;               /* width of the entire scrollbar */
}
.dragen::-webkit-scrollbar-track {
  cursor: pointer;
  background: transparent;        /* color of the tracking area */
}
.dragen::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: rgba(240, 255, 255, 0.5);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

.containerKu {
  height: calc(100vh - 68px);
  width: calc(100vw - 63px);
  padding: 10px;
}

.parentK:hover .childK{
  color: gray;
}